<link rel="stylesheet" href="/css/header.css">





<header>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img class="logo" src="/images/limousine.svg">
            </a>

           
           
            
                <!-- <button type="button" class="btn btn-outline-success btn-sm"> -->
                    <!-- <a class="btn btn-outline-success btn-sm book" href="/booking">Book Now</a> -->
                <!-- </button> -->
    

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/booking">Book Now</a>
                    </li>

                    
                    <!-- drop down link -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" 
                         data-bs-toggle="dropdown" aria-expanded="false"  href="#">
                        Our Services</a>
                    
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        
                        <li><a class="dropdown-item" href="/airport">Airport Limo Service</a></li>
                        <li><a class="dropdown-item" href="/wedding">Wedding Limo Service</a></li>
                        <li><a class="dropdown-item" href="/chauffer">Chauffer Limo Service</a></li>
                        <li><a class="dropdown-item" href="/prom">Prom Limo Service</a></li>
                        <li><a class="dropdown-item" href="/childseat">Child Seat Limo Service</a></li>
                        <li><a class="dropdown-item" href="/niagrafalls">Niagra Falls Service</a></li>
                        <li><a class="dropdown-item" href="/nightout">Night Out Service</a></li>
                        <li><a class="dropdown-item" href="/casino">Casino Limo Service</a></li>
                        <li><a class="dropdown-item" href="/funeral">Funeral Limo Service</a></li>
                        <li><a class="dropdown-item" href="/corporateLimo">Corporate Limo Service</a></li>
                        <li><a class="dropdown-item" href="/toronto-maple-leaf">Torronto Maple Leaf Limo</a></li>
                        <li><a class="dropdown-item" href="/toronto-blue-jays">Torronto Blue Jays Limo</a></li>
                        <li><a class="dropdown-item" href="/toronto-fc-limo">Torronto FC Soccer Limo</a></li>
                        <li><a class="dropdown-item" href="/toronto-argonauts">Torronto Argonauts Limo</a></li>
                        <li><a class="dropdown-item" href="/toronto-raptors">Toronto Raptors Limo</a></li>
                       
                    </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="#">Airport Services </a> 
                    
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown ">
                            <li><a class="dropdown-item" href="/toronto-pearson">Torronto Pearson Airport</a></li>
                            <li><a class="dropdown-item" href="/buttonville-municipal-airport">Buttonville Municipal Airport</a></li>
                            <li><a class="dropdown-item" href="/billy-bishop-airport">Billy Bishop Toronto City Centre Airport</a></li>
                            <li><a class="dropdown-item" href="/hamilton-airport">Hamilton International Airport </a></li>
                            <li><a class="dropdown-item" href="/niagara-falls-airport">Niagra Falls International Airport</a></li>
                            <li><a class="dropdown-item" href="/buffalo-niagara-international">Buffalo Niagra International Airport</a></li>
                            <li><a class="dropdown-item" href="/chartright-private-airport">Chartright (Torronto Pearson Airport)</a></li>
                            <li><a class="dropdown-item" href="/landmark-aviation-charter">Landmark Aviation (Torronto Pearson Airport)</a></li>
                            <li><a class="dropdown-item" href="/skyservice-esso-avitat">SkyService Esso Avitat(Torronto Pearson Airport)</a></li>
                            
                    
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" href="#">City Services </a>
                    
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown ">
                            <li><a class="dropdown-item " href="/ajax">Ajax City Limousine</a></li>
                            <li><a class="dropdown-item" href="/aldershot">Aldershot City Limousine </a></li>
                            <li><a class="dropdown-item" href="/alliston">Alliston City Limousine </a></li>
                            <li><a class="dropdown-item" href="/alton">Alton City Limousine </a></li>
                            <li><a class="dropdown-item" href="/bracebridge">Bracebridge City Limousine</a></li>
                            <li><a class="dropdown-item" href="/brampton">Brampton City Limousine </a></li>
                            <li><a class="dropdown-item" href="/brockville">Brockville City Limousine</a></li>
                            <li><a class="dropdown-item" href="/brooklin">Brooklin City Limousine</a></li>
                            <li><a class="dropdown-item" href="/brougham">Brougham City Limousine</a></li>
                            <li><a class="dropdown-item" href="/collingwood">Collingwood City Limousine</a></li>
                            <li><a class="dropdown-item" href="/concord">Concord City Limousine</a></li>
                            <li><a class="dropdown-item" href="/cookstown">Cookstown City Limousine</a></li>
                            <li><a class="dropdown-item" href="/courtice">Courtice City Limousine</a></li>
                            <li><a class="dropdown-item" href="/erin">Erin City Limousine</a></li>
                            <li><a class="dropdown-item" href="/etobicoke">Etobicoke City Limousine</a></li>
                            <li><a class="dropdown-item" href="/fenelon">Fenelon Falls City Limousine</a></li>
                            <li><a class="dropdown-item" href="/grand-valley">Grand Valley City Limousine</a></li>
                            <li><a class="dropdown-item" href="/inglewood">Inglewood City Limousine</a></li>
                            <li><a class="dropdown-item" href="/king-city">King City Limousine</a></li>
                            <li><a class="dropdown-item" href="/kingston">Kingston Limousine</a></li>
                            <li><a class="dropdown-item" href="/kitchener">Kitchener Limousine</a></li>
                            <li><a class="dropdown-item" href="/Lindsay">Lindsay Limousine</a></li>
                            <li><a class="dropdown-item" href="/niagarafalls">Niagara Falls Limousine</a></li>
                            <li><a class="dropdown-item" href="/northbay">North Bay Limousine</a></li>
                            <li><a class="dropdown-item" href="/northyork">North York Limousine</a></li>
                            <li><a class="dropdown-item" href="/oakville">Oakville Limousine</a></li>
                        
                        </ul>

                    </li>


                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/cars">Cars</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/cars/new">New Car</a>
                    </li> -->


                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/limos">Limos</a>

                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/limos/new"> Add Limo</a>
                    
                    </li> -->

                <span class="navbar-text ms-2 fw-bold">
                    Phone : +8801303580253
                </span>
                
                <span class="navbar-text ms-2 fw-bold">
                    Email : dhrubo04005@gmail.com
                </span>

                   
                    
                </ul>

                

                
            </div>
        </div>
    </nav>





</header>


<div class="container">

    <% if(error && error.length> 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
        <% } %>
            <% if(success && success.length> 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <% } %>
</div>