<div>
    
    <label>Title</label>
    <input type='text' name='title' value="<%= limo.title %> ">

</div>



<div>
 <label>Price Per Hour</label>
 <input type='number', name='pricePerHour' value='<% limo.pricePerHour %>'>

</div>

<div>
    <label>Price Per day</label>
    <input type='number' , name='pricePerDay' value='<% limo.pricePerDay %>'>

</div>

<div>
    <label>Price Per Km</label>
    <input type='number' , name='pricePerKm' value='<% limo.pricePerKm %>'>

</div>

<div>
    <label>Airport Transfer</label>
    <input type='number' , name='airportTransfer' value='<% limo.airportTransfer %>'>

</div>

<div>
<label>Cover</label>
<input type='file' name='cover' class='filepond'  >
    
</div>

<div>
    <label>Description</label>
    <textarea  name='description'> <%= limo.description  %> </textarea>

</div>












