<h2>Edit Limo</h2>

<form action="/limos/<%= limo.id %>?_method=PUT" method="POST">

    <%- include('_form_fields') %>

        <a href="/limos">Cancel</a>
        <button type="submit">Update</button>
</form>