<link rel="stylesheet" href="css/airport.css">


<div class="card bg-dark ">
    <img src="/images/brooklin.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h3 class="card-title  text-uppercase text-center pt-5 ">Brooklin Airport Limousine
        </h3>
        <hr>
        <h3 class="text-center  text-white">
            To & From Pearson Airport
        </h3>
    </div>
</div>

<div class="container-fluid airport text-center mb-5">

    <button type="button" class="btn btn-outline-light btn-lg">
        <a class="text-center" href="/booking">Book Now</a>
    </button>
</div>


<div class="container-fluid ">
    <div class="mt-3 mb-3">
        <h3 class="text-center fw-bold ">We offer Airport Limo Services in Brooklin</h3>
    </div>

    <figure class='text-center'>
        <blockquote class="blockquote">

            <!-- <a href='https://www.buttonvilleairport.ca/'>Info </a> -->

        </blockquote>

        <figcaption class="blockquote-footer pt-3">
            With our limo services your travel to Airport will be hassle free. When you come to a new city you not only
            look for the
            good services from limo services providers but also important information which will be useful for you in
            the new city.
            So our trained chauffer's will share the important information you need may further. One thing for sure with
            our limo
            services your tour will be fun, full comfortable and hassle free.

        </figcaption>
    </figure>

    <div class="mt-3 mb-3">
        <h3 class="text-center fw-bold "> About Brooklin</h3>
    </div>

    <div class="container-fluid">
        <p class="lead">

        Brooklin is a community in the Town of Whitby, Ontario, Canada. It is located,North of the urban area of Whitby,at the
        South junction of Ontario Highways 12 and 7. Brooklin is located primarily in a rural area, with hills covering the
        north and the west. The hills and forests that dominate the north are part of the Oak Ridges Moraine. About 40 to 50
        percent of the area of the hills are made up of forests. The population has grown steadily since the early 1990s, with
        the addition of thousands of homes surrounding the heart of Brooklin.
        
        Brooklin was founded in 1840 by the Campbell, Way, McGee and Hepinstall families at the intersection of Centre Road
        (Baldwin Street) and Winchester Road. The village was originally named Winchester. However, in 1847, when a post office
        was established, it was discovered there was already a Town of Winchester in Ontario and the name was changed to
        Brooklin, probably after the brook which ran through the town.

        </p>
        <!-- <h3 class="text-center fw-bold ">Places to visit</h3>
        <ul class="list-inline">
            <li class="list-inline-item">

                <strong>Brockville Arts Centre</strong>
                <address> 235 King St W Brockville, ON, K6V 7A5
                </address>
            </li>
            <li class="list-inline-item">
                <strong>Brockville Museum</strong>
                <address>5 Henry St Brockville, ON, K6V 6M4

                </address>
            </li>
            <li class="list-inline-item">

                <strong> Lawrence College Residence & Conf. Centre</strong>
                <address>
                    60 Magedoma Dr Brockville, ON, K6V 7N7

                </address>

            </li>
            <li class="list-inline-item">

                <strong>Quality Hotel Royal Brock Conf. Centre/Sports Club</strong>
                <address>
                    100 Stewart Blvd Brockville, ON, K6V 4W3
                </address>

            </li>


        </ul> -->

    </div>



</div>

<div class="container-fluid row">
    <div class="mt-3 mb-3">
        <h3 class="text-center fw-bold">Our Fleet</h3>
    </div>

    <div class="card-group">
        <div class="card">
            <img src="/images/sedan.jpeg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Sedan</h5>

            </div>

        </div>
        <div class="card">
            <img src="/images/suv.jpeg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">SUV</h5>

            </div>

        </div>
        <div class="card">
            <img src="/images/strechLimo.jpeg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Streched Limo</h5>

            </div>
        </div>

        <div class="card">
            <img src="/images/party.png" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Party Bus</h5>

            </div>
        </div>


    </div>




</div>