<link rel="stylesheet" href="css/airport.css">


<div class="card bg-dark ">
    <img src="/images/etobicoke.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h3 class="card-title text-white  text-uppercase text-center pt-5 ">Etobicoke Airport Limousine
        </h3>
        <hr>
        <h3 class="text-center  text-white">
            To & From Pearson Airport
        </h3>
    </div>
</div>

<div class="container-fluid airport text-center mb-5">

    <button type="button" class="btn btn-outline-light btn-lg">
        <a class="text-center" href="/booking">Book Now</a>
    </button>
</div>


<div class="container-fluid ">
    <div class="mt-3 mb-3">
        <h3 class="text-center fw-bold ">We offer Airport Limo Services in Etobicoke</h3>
    </div>

    <figure class='text-center'>
        <blockquote class="blockquote">

            <!-- <a href='https://www.buttonvilleairport.ca/'>Info </a> -->

        </blockquote>

        <figcaption class="blockquote-footer pt-3">
            With our limo services your travel to Airport will be hassle free. When you come to a new city you not only
            look for the
            good services from limo services providers but also important information which will be useful for you in
            the new city.
            So our trained chauffer's will share the important information you need may further. One thing for sure with
            our limo
            services your tour will be fun, full comfortable and hassle free.

        </figcaption>
    </figure>

    <div class="mt-3 mb-3">
        <h3 class="text-center fw-bold "> About Etobicoke</h3>
    </div>

    <div class="container-fluid">
        <p class="lead">

            Etobicoke is a dissolved municipality located within the current city of Toronto, Ontario, Canada. Comprising the
            western section of the current city, it had an official population of 338,117 as measured by the 2001 Census and 334,491
            people as of the 2006 Census. While it only contains 13% of Toronto's population, it occupies about 20% of its total
            land area. It is bordered on the south by Lake Ontario, on the east by the Humber River, on the west by Etobicoke Creek,
            the city of Mississauga and Toronto Pearson International Airport (though a small portion of the airport extends into
            Etobicoke) and on the north by Steeles Avenue West.

        </p>
        <h3 class="text-center fw-bold ">Places to visit</h3>
        <ul class="list-inline">
            <li class="list-inline-item">

                <strong>Toronto Congress Centre</strong>
                <address> 650 Dixon Rd.
                Mississauga, ON M9W 1J1

                </address>
            </li>
            <li class="list-inline-item">
                <strong>Cambridge Suites Hotel</strong>
                <address>15 Richmond Street East
                Toronto, ON, M5C 1N2

                </address>
            </li>
            <li class="list-inline-item">

                <strong>Art Gallery of Ontario (AGO)</strong>
                <address>
                    317 Dundas Street West
                    Toronto, ON, M5T 1G4
                </address>

            </li>
            <li class="list-inline-item">

                <strong>Canadian National Exhibition</strong>
                <address>
                    200 Princes Boulevard
                    Toronto, ON, M6K 3C3
                </address>

            </li>


        </ul>

    </div>



</div>

<div class="container-fluid row">
    <div class="mt-3 mb-3">
        <h3 class="text-center fw-bold">Our Fleet</h3>
    </div>

    <div class="card-group">
        <div class="card">
            <img src="/images/sedan.jpeg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Sedan</h5>

            </div>

        </div>
        <div class="card">
            <img src="/images/suv.jpeg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">SUV</h5>

            </div>

        </div>
        <div class="card">
            <img src="/images/strechLimo.jpeg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Streched Limo</h5>

            </div>
        </div>

        <div class="card">
            <img src="/images/party.png" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Party Bus</h5>

            </div>
        </div>


    </div>




</div>