


<link rel="stylesheet" href="css/styles.css">


<button type="button" class="btn btn-outline-light btn-sm fw-bold merriweather">
    <a class="text-center text-white" href="/booking">Book Now</a>
</button>

<div>
    <a href="https://wa.me/1303580253" target="blank">
        <img src='/images/whatsapp.svg' width="30px" class="whatsapp">
    </a>
</div>

<div>
    <a href="sms:+880-1303580253" target="blank">
        <img src='/images/sms.svg' width="30px" class="sms">
    </a>
</div>

<div>
    <a href="tel:+8801303580253" target="blank">
        <img src='/images/call.svg' width="30px" class="call">
    </a>
</div>



    
    <!--slides  -->
    
    <div class="container-fluid  g-0 ">

        
    
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption">
                      <p class="merriweather">dhrubo04005@gmail.com  +8801303580253</p>
                    </div>
                    <img class="img-fluid" src="/images/new1.jpeg" class="d-block h-100 " alt="...">
                    
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption">
                    <p class="merriweather">dhrubo04005@gmail.com  +8801303580253</p>
                    </div>
                    <img class='img-fluid' src="/images/new2.jpeg" class="d-block h-100 " alt="...">
                  
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption">
                        <p class="merriweather">dhrubo04005@gmail.com  +8801303580253</p>
                    </div>
                    <img class='img-fluid' src="/images/new3.jpeg" class="d-block h-100 " alt="...">
                    
                </div>
            </div>
        </div>

        
    </div>
    

       
    <div class="container-fluid g-0">

        <div class="heading">
            <h3 class="oswald fw-bold text-center text-white text-uppercase">Welcome To Pearson Airport Limo</h3>
        </div>
        
    
    <div class="card bg-dark text-white">
    <img src="/images/promise8.jpg" class="card-img" style="height:50%;" alt="...">
    <div class="card-img-overlay">
    <h3 class="card-title  text-uppercase text-center fw-bold dancing">Our Promise</h3>
    <p class="card-text text-white text-center oswald">
    PEARSON AIRPORT LIMO is committed to providing you with an unforgettable limousine experience.
    We dedicate ourselves in managing our limo fleet and team of professional chauffeurs to support you with
    the best traveling experience throughout
    the Greater Toronto and Surrounding areas.
    </p>
    </div>
    </div>
    
 
        <div class="mt-3 mb-3" >
            <h3 class="text-center fw-bold text-uppercase oswald">Who We Are</h3>
            <p class="text-center fs-4 almendra">Our Service Specializes in: </p>
        </div>
          <div class="card bg-dark text-white pt-5">
            <img src="/images/whoweare.jpg" class="card-img" style="height:50%;" alt="...">
            <div class="card-img-overlay">
                <hr>
                <h3 class="card-text time text-center fw-bold dancing">
                    Always On Time</h3>
                <p class="card-text text-white text-center almendra">
                    "Your driver always arrives early and
                    up arrival you will get a text message
                    notifying you that your driver has arrived
                    and you can also track your driver."</p>
                <hr>
                <h3 class="card-text time text-center fw-bold dancing">
                    Hassle Free </h3>
                <p class="card-text text-white text-center almendra">
                    "We offer hassle free service whether you are going
                    to the airport or being picked up from the airport or
                    any event We track and
                    monitor all flights for any arrival related changes"
                </p>
                <hr>
                <h3 class="card-text time text-center fw-bold dancing">
                    Affordable </h3>
                <p class="card-text text-white text-center almendra">
                    "We offer the most competitive and affordable prices in the market.
                    Our service quality exceeds when compared to any
                    other similar service providers."
                </p>
                <hr>
            </div>
        </div>
    </div>

    <!-- meet and greet and child seat -->

    <div class="container-fluid g-0">
        <div class="mt-3 mb-3">
            <h3 class="text-center fw-bold oswald">Toronto Airport Pickup Procedure</h3>
        </div>
        

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card  h-100">
                    <img src="/images/meetAndGreet.jpg" class="card-img-top pickup" alt="...">
                    <div class="card-body">
                    
                    <figure class="text-center">
                        <blockquote class="blockquote">
                            <p class="almendra fw-bold">Toronto Airport Meet & Greet</p>
                        </blockquote>
                        <figcaption class="oswald">
                            We offer the exclusive meet and Greet services to facilitate you passage through the airport.
                    
                        </figcaption>
                    </figure>
                    
                    
                    </div>
                    
                </div>
            </div>
           
            <div class="col">
                <div class="card  h-100">
                    <img src="/images/pickup.jpg" class="card-img-top pickup" alt="...">
                    <div class="card-body">
                      

                            <figure class="text-center">
                                <blockquote class="blockquote">
                                    <p class='almendra fw-bold'>Pickup Procedure</p>
                                </blockquote>
                                <figcaption class="oswald">
                                    Clear Customs, Pick-up Luggage, Go to security person at the Pre-arranged Stand

                                </figcaption>
                            </figure>
                    </div>
                    
                </div>
            </div>
            <div class="col">
                <div class="card  h-100">
                    <img src="/images/childseat.jpg" class="card-img-top pickup" alt="..." width="640px" height="426px">
                    <div class="card-body">
            
                        <figure class="text-center">
                            <blockquote class="blockquote">
                                <p class='almendra fw-bold'>Child Car Seat</p>
                            </blockquote>
                            <figcaption class="oswald">
                                Safety and quality is a priority to all our clients, especially the little ones
            
                            </figcaption>
                        </figure>
            
                    </div>
            
                </div>
            </div>
        </div>
    </div>

    <!-- corporate limo service -->

    <div class="container-fluid g-0">
        <div class="mt-3 mb-3">
            <h3 class="text-center fw-bold pacifico"> Our Limo Service</h3>

            
        </div>

       
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card limo-service text-white bg-dark h-100">
                  
                    <div class="card-body">
                        <h3 class="card-title text-center text-warning text-uppercase almendra">Corporate Limo Service</h3>
                        
                            
                            <p class="text-center text-white  oswald" >PEARSON AIRPORT Limousine Service Pickup</p>
                            <p class="text-center text-white  oswald">VIP Meet & Greet, Child Car Seats</p>
                            <p class="text-center text-white  oswald">Road Shows Shuttle Limo Transfers</p>
                            <p class="text-center text-white oswald">Executive Transportation Meeting & Seminar Limo Transportation</p>
                            <p class="text-center text-white oswald">Out of town Limo Service</p>
                    </div>
                    
                </div>
            </div>
            <div class="col">
                <div class="card limo-service text-white bg-dark h-100">
                    
                    <div class="card-body">
                        <h3 class="card-title text-center text-uppercase text-warning almendra">BUSINESS TRIP LIMO</h3>
              
                        <p class="text-center text-white oswald">Corporate Limo Transfer</p>
                        <p class="text-center text-white oswald">Toronto Luxury Executive Limo Shuttle Bus for Events</p>
                        <p class="text-center text-white oswald">Casino Rama Executive Limo Hourly Transfer</p>

                    </div>
                    
                </div>
            </div>
            <div class="col">
                <div class="card limo-service text-white bg-dark h-100">
          
                    <div class="card-body">
                        <h5 class="card-title text-center text-uppercase text-warning almendra">NIAGARA FALLS TOURS</h5>
                     
                        <ul>
                        <p class="text-center text-white oswald">Niagara Falls Limousine Winery Tour</p>
                        <p class="text-center text-white oswald">Niagara Falls corporate Limousine Day Tour</p>
                        <p class="text-center text-white oswald">Niagara-on-the-Lake Executive Limousine Tour</p>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid row g-0">
        <div class="mt-3 mb-3">
            <h3 class="text-center fw-bold almendra">Our Fleet</h3>
        </div>

        <div class="card-group">
            <div class="card">
                <img src="/images/sedan.jpeg" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title oswald">Sedan</h5>
                    
                </div>
             
            </div>
            <div class="card">
                <img src="/images/suv.jpeg" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title oswald">SUV</h5>
                    
                </div>
                
            </div>
            <div class="card">
                <img src="/images/strechLimo.jpeg" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title oswald">Streched Limo</h5>
                    
                </div>
            </div>

            <div class="card">
                <img src="/images/party.png" class="card-img-top" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title oswald">Party Bus</h5>
            
                </div>
            </div>
        
        
        </div>
        
         

         
    </div>

    <div class="container-fluid g-0">
        <video src="/videos/Ontario Tourism Video Montage.mp4" autoplay loop playsinline muted></video>
      
    <div class="mt-3 mb-3">
        <h3 class="text-center fw-bold almendra">Areas We Serve</h3>
    </div>


    <div class="card pt-5 pb-5" >
        <div class="row row-cols-2 row-cols-sm-4 row-cols-md-6  g-0">
       
       <div class="col-xs" >
        <ul class="areas-list oswald" id='areas-list'>
            <li class="" id='Ajax'>Ajax</li>
            <li class="" id='Aldershot'>Aldershot</li>
            <li class="" id='Alliston'>Alliston</li>
            <li class="" id='Alton'>Alton</li>
            <li class="" id='Ancaster'>Ancaster</li>
            <li class="" id='Angus'>Angus</li>
            <li class="" id='Aurora'>Aurora</li>
            <li class="" id='Ballantrae'>Ballantrae</li>
            <li class="" id='Barrie'>Barrie</li>
            <li class="" id='Beamsville'>Beamsville</li>
            <li class="" id='Beaverton'>Beaverton</li>
            <li class="" id='Beeton'>Beeton</li>
            <li class="" id='Belleville'>Belleville</li>
            <li class="" id='Bolton'>Bolton</li>
            <li class="" id='Bond Head'>Bond Head</li>
            <li class="" id='Borden'>Borden</li>
            <li class="" id='Bowmanville'>Bowmanville</li>
            <li class="" id='Bracebridge'>Bracebridge</li>
            <li class="" id='Bradford'>Bradford</li>
            <li class="" id='Brampton'>Brampton</li>
            <li class="" id='Brantford'>Brantford</li>
            <li class="" id='Brockville'>Brockville</li>
            <li class="" id='Brooklin'>Brooklin</li>
            <li class="" id='Brougham'>Brougham</li>
            <li class="" id='Buffalo Lake' >Buffalo Lake</li>
           
            
            
                       


            </ul>
            </div>

            <div class="col-xs">

            <ul class="areas-list oswald">
                
            <li class="" id='Burford'>Burford</li>
            <li class="" id='Burlington'>Burlington</li>
            <li class="" id='Caledon'>Caledon</li>
            <li class="" id='Caledonia'>Caledonia</li>
            <li class="" id='Cambridge'>Cambridge</li>
            <li class="" id='Campbellville'>Campbellville</li>
            <li class="" id='Carlisle'>Carlisle</li>
            <li class="" id='Cedar Mills'>Cedar Mills</li>
            <li class="" id='Cheltenham'>Cheltenham</li>
            <li class="" id='Claremont'>Claremont</li>
            <li class="" id='Cobourg'>Cobourg</li>
            <li class="" id='Collingwood'>Collingwood</li>
            <li class="" id='Concord'>Concord</li>
            <li class="" id='Cookstown'>Cookstown</li>
            <li class="" id='Courtice'>Courtice</li>
            <li class="" id='Creemore'>Creemore</li>
            <li class="" id='Deerhurst Resort'>Deerhurst Resort</li>
            <li class="" id='Delhi'>Delhi</li>
            <li class="" id='Douglas Point Road'>Douglas Point Road</li>
            <li class="" id='Dundas'>Dundas</li>
            <li class="" id='Durham'>Durham</li>
            <li class="" id='East York'>East York</li>
            <li class="" id='Elmira'>Elmira</li>
            <li class="" id='Elora'>Elora</li>
            <li class="" id='Ennismore'>Ennismore</li>
            
            
            </ul>
        </div>

        <div class="col-xs">
            <ul class="areas-list oswald">
                
                <li class="" id='Erin'>Erin</li>
                <li class="" id='Etobicoke'>Etobicoke</li>
                <li class="" id='Fenelon Falls'>Fenelon Falls</li>
                <li class="" id='Fergus'>Fergus</li>
                <li class="" id='Flamboro Centre'>Flamboro Centre</li>
                <li class="" id='Flamborough'>Flamborough</li>
                <li class="" id='Flesherton'>Flesherton</li>
                <li class="" id='Fort Erie'>Fort Erie</li>
                <li class="" id='Freelton'>Freelton</li>
                <li class="" id='Galt'>Galt</li>
                <li class="" id='Georgetown'>Georgetown</li>
                <li class="" id='Goderich'>Goderich</li>
                <li class="" id='Goodwood'>Goodwood</li>
                <li class="" id='Gormley'>Gormley</li>
                <li class="" id='Grand Valley'>Grand Valley</li>
                <li class="" id='Gravenhurst'>Gravenhurst</li>
                <li class="" id='Grimsby'>Grimsby</li>
                <li class="" id='Guelph'>Guelph</li>
                <li class="" id='Hagersville'>Hagersville</li>
                <li class="" id='Hamilton'>Hamilton</li>
                <li class="" id='Hanover'>Hanover</li>
                <li class="" id='Holland Landing'>Holland Landing</li>
                <li class="" id='Horseshoe Valley'>Horseshoe Valley</li>
                <li class="" id='Huntsville'>Huntsville</li>
                <li class="" id='Ingersoll'>Ingersoll</li>
               

                
        </ul>
        </div>

        <div class="col-xs">
            <ul class="areas-list oswald">
                
                <li class="" id='Inglewood'>Inglewood</li>
                <li class="" id='Innishi'>Innishi</li>
                <li class="" id='Jacksons Point'>Jacksons Point</li>
                <li class="" id='Jarvis'>Jarvis</li>
                <li class="" id='swick'>Keswick</li>
                <li class="" id='Kettleby'>Kettleby</li>
                <li class="" id='Kilbride'>Kilbride</li>
                <li class="" id='Kimberly'>Kimberly</li>
                <li class="" id='King City'>King City</li>
                <li class="" id='Kingston'>Kingston</li>
                <li class="" id='Kitchener'>Kitchener</li>
                <li class="" id='Lindsay'>Lindsay</li>
                <li class="" id='London'>London</li>
                <li class="" id='Loretto'>Loretto</li>
                <li class="" id='Midland'>Midland</li>
                <li class="" id='Milton'>Milton</li>
                <li class="" id='Mississauga'>Mississauga</li>
                <li class="" id='Mohawk'>Mohawk</li>
                <li class="" id='Mono Mills'>Mono Mills</li>
                <li class="" id='Mount Hope'>Mount Hope</li>
                <li class="" id='Muskoka'>Muskoka</li>
                <li class="" id='Newcastle'>Newcastle</li>
                <li class="" id='Newmarket'>Newmarket</li>
                <li class="" id='Niagra Falls'>Niagra Falls</li>
                <li class="" id='Niagra-on-the-Lake'>Niagra-on-the-Lake</li>
               
                                
            </ul>
        </div>

        <div class="col-xs">
            <ul class="oswald areas-list">
                
                <li class="" id='Nobleton'>Nobleton</li>
                <li class="" id='North Bay'>North Bay</li>
                <li class="" id='North York'>North York</li>
                <li class="" id='Norval'>Norval</li>
                <li class="" id='Oakville'>Oakville</li>
                <li class="" id='Orangeville'>Orangeville</li>
                <li class="" id='Orillia'>Orillia</li>
                <li class="" id='Oshawa'>Oshawa</li>
                <li class="" id='Own Sound'>Own Sound</li>
                <li class="" id='Palgrave'>Palgrave</li>
                <li class="" id='Paris'>Paris</li>
                <li class="" id='Parry Sound'>Parry Sound</li>
                <li class="" id='Peterborough'>Peterborough</li>
                <li class="" id='Pickening'>Pickening</li>
                <li class="" id='Port Colborne'>Port Colborne</li>
                <li class="" id='Port Hope'>Port Hope</li>
                <li class="" id='Port Perry'>Port Perry</li>
                <li class="" id='Raceway Road'>Raceway Road</li>
                <li class="" id='Richmond Hill'>Richmond Hill</li>
                <li class="" id='Rockwood'>Rockwood</li>
                <li class="" id='Saint Jacobs'>Saint Jacobs</li>
                <li class="" id='Saint Thomas'>Saint Thomas</li>
                <li class="" id='Sarnia'>Sarnia</li>
                <li class="" id='Schomberg'>Schomberg</li>
                <li class="" id='Sharon'>Sharon</li>

                


                                
            </ul>
        </div>

        <div class="col-xs">
            <ul class="oswald areas-list">
                
               
                <li class="" id='Shelburne'>Shelburne</li>
                <li class="" id='St Catharinnes'>St Catharinnes</li>
                <li class="" id='Stonny Creek'>Stonny Creek</li>
                <li class="" id='Stratford'>Stratford</li>
                <li class="" id='Sudbury'>Sudbury</li>
                <li class="" id='Sutton'>Sutton</li>
                <li class="" id='Talisman Drive'>Talisman Drive</li>
                <li class="" id='Terra Cotta'>Terra Cotta</li>
                <li class="" id='The Blue Mountains'>The Blue Mountains</li>
                <li class="" id='Thornhill'>Thornhill</li>
                <li class="" id='Trenton'>Trenton</li>
                <li class="" id='Uxbridge'>Uxbridge</li>
                <li class="" id='Vaughan'>Vaughan</li>
                <li class="" id='Wasaga Beach'>Wasaga Beach</li>
                <li class="" id='Waterdown'>Waterdown</li>
                <li class="" id='Waterloo'>Waterloo</li>
                <li class="" id='Welland'>Welland</li>
                <li class="" id='Whitby'>Whitby</li>
                <li class="" id='Whitchurch-Stouffville'>Whitchurch-Stouffville</li>
                <li class="" id='Windsor'>Windsor</li>
                <li class="" id='Woodbridge'>Woodbridge</li>
                <li class="" id='Woodstock'>Woodstock</li>

                
       </ul>
        </div>       
    </div>
    </div>
    </div>
    
    

<!-- <script src='../javascripts/main.js'></script> -->

<!-- fullpage script -->



<!-- areas click event script -->
<!-- <script>

  let  list = document.getElementsByClassName('areas-list');
  for (let i=0 ; i<list.length ; i++ ){
      list[i].addEventListener('click', function(e){
         e.preventDefault();
          let destination = document.getElementById("to").setAttribute('value', `${e.target.id}`);
             console.log(e.target.id + ' was clicked');
            
        });

        // document.getElementById('to').value = "";
  }
    

 
      


</script> -->


<!-- form validation script cleave js-->


<script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
<script src="../javascripts/credit.js"></script>


<!-- flatcpickr script -->
<script src="../javascripts/datepicker.js"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<!-- select script -->
<!-- <script>
   
    $(document).ready(function () {
        $("#social").select2({
            templateResult: formatOptions
        });
    });

    function formatOptions(state) {
        if (!state.id) { return state.text; }
        var $state = $(
            '<span ><img sytle="display:block;" src="images/vehicles/' + state.element.value.toLowerCase() + '.jpg" /> ' + state.text + '</span>'
        );
        return $state;
    }

</script> -->



<!-- maps script -->
<!-- <script>
    let autocomplete;
    function initAutocomplete() {

        var options = {
            types: ["establishment", "geocode"],
            componentRestrictions: { 'country': ['CA'] },
            fields: ['place_id', 'geometry', 'name']
        }

        var input1 = document.getElementById('from');
        var autocomplete1 = new google.maps.places.Autocomplete(input1, options)

        var input2 = document.getElementById('to');
        var autocomplete2 = new google.maps.places.Autocomplete(input2, options)


       
    }


</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPVTJqtbtQxwLaBcdwGIv56MuSSJqXXoY&libraries=places&callback=initAutocomplete">
</script> -->














