<link rel="stylesheet" href="css/airport.css">


<div class="card bg-dark ">
    <img src="/images/kitchener.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h3 class="card-title text-white  text-uppercase text-center pt-5 ">Kitchener Airport Limousine
        </h3>
        <hr>
        <h3 class="text-center  text-white">
            To & From Pearson Airport
        </h3>
    </div>
</div>

<div class="container-fluid airport text-center mb-5">

    <button type="button" class="btn btn-outline-light btn-lg">
        <a class="text-center" href="/booking">Book Now</a>
    </button>
</div>


<div class="container-fluid ">
    <div class="mt-3 mb-3">
        <h3 class="text-center fw-bold ">We offer Airport Limo Services in Kitchener</h3>
    </div>

    <figure class='text-center'>
        <blockquote class="blockquote">

            <!-- <a href='https://www.buttonvilleairport.ca/'>Info </a> -->

        </blockquote>

        <figcaption class="blockquote-footer pt-3">
            With our limo services your travel to Airport will be hassle free. When you come to a new city you not only
            look for the
            good services from limo services providers but also important information which will be useful for you in
            the new city.
            So our trained chauffer's will share the important information you need may further. One thing for sure with
            our limo
            services your tour will be fun, full comfortable and hassle free.

        </figcaption>
    </figure>

    <div class="mt-3 mb-3">
        <h3 class="text-center fw-bold "> About Kitchener</h3>
    </div>

    <div class="container-fluid">
        <p class="lead">
            Kitchener, ON is a vibrant, confident and cosmopolitan community, located in the Region of Waterloo, in the heart of
            southwestern Ontario. Every year, Kitchener plays host to thousands of business travelers, individuals and families who
            come to sample city's unique blend of history, hospitality and progress. You'll be amazed at what you discover here!
            
            Kitchener offers citizens, visitors and corporate residents a rich urban life, balanced with a never-ending list of
            cultural and recreational activities. The city is literally alive with festivals, events and activities all year.
            
            Kitchener, Ontario - was the Town of Berlin from 1854 until 1912 and the City of Berlin from 1912 until 1916. The city
            had a population of 204,668 in the Canada 2006 Census. The metropolitan area, which includes the neighbouring cities of
            Waterloo and Cambridge, has 451,235 people, making it the eleventh largest Census Metropolitan Area (CMA) in Canada and
            the fifth largest CMA in Ontario.

        </p>
        <h3 class="text-center fw-bold ">Places to visit</h3>
        <ul class="list-inline">
            <li class="list-inline-item">

                <strong>Bingemans</strong>
                <address>
                    425 Bingemans Centre Drive
                    Kitchener, Ontario, N2B 3X7
                </address>
            </li>
            <li class="list-inline-item">
                <strong>The Children's Museum</strong>
                <address>
                    10 King Street West
                    Kitchener, Ontario, N2G 1A3
                </address>
            </li>
            <li class="list-inline-item">

                <strong>Kitchener-Waterloo Art Gallery</strong>
                <address>
                    101 Queen Street North
                    Kitchener, Ontario, N2H 6P7
                </address>

            </li>
            <li class="list-inline-item">

                <strong>Chicopee Ski & Summer Resort</strong>
                <address>
                396 Morrison Road
                Kitchener, Ontario, N2A 2Z6
                </address>

            </li>


        </ul>

    </div>



</div>

<div class="container-fluid row">
    <div class="mt-3 mb-3">
        <h3 class="text-center fw-bold">Our Fleet</h3>
    </div>

    <div class="card-group">
        <div class="card">
            <img src="/images/sedan.jpeg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Sedan</h5>

            </div>

        </div>
        <div class="card">
            <img src="/images/suv.jpeg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">SUV</h5>

            </div>

        </div>
        <div class="card">
            <img src="/images/strechLimo.jpeg" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Streched Limo</h5>

            </div>
        </div>

        <div class="card">
            <img src="/images/party.png" class="card-img-top" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Party Bus</h5>

            </div>
        </div>


    </div>




</div>