@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
nav {
  height: 100%;
  font-family: "Merriweather", serif;
  color: black;
}

a:hover {
  color: #5d55d9 !important ;
  text-decoration: underline;
}

.nav-link {
  padding-right: 1rem;
  /* padding-left: 2rem; */
  color: white;
  font-weight: bold;
}

/* .nav-item {
  color: white;
} */

.navbar-brand {
  font-size: 24px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding-right: 5rem;
}
.book {
  padding-right: 5rem;
}

.dropdown-item {
  color: azure;
  background-color: black;
}

.navbar-text {
  padding-right: 3rem;
  font-style: italic;
}

.logo {
  height: 100px;
  padding-right: 2rem;
}

/* .whatsapp {
  position: fixed;
  top: 30px;
  right: 70px;
}

.sms {
  position: fixed;
  top: 30px;
  right: 120px;
}

.call {
  position: fixed;
  top: 30px;
  right: 170px;
} */
