@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra:wght@400;700&family=Mitr:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;

  height: 100vh;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.heading {
  background-color: #282829;
}

.container-fluid {
  width: 100%;
}

/* .services {
  z-index: 9;
  position: absolute;
  top: 30%;
  left: 40%;

  font-size: 18px;
  font-weight: bold;
} */

/* .form-input {
  display: flex;
  justify-content: center;
} */

/* .details {
  display: flex;

  z-index: 9;
  position: absolute;
  top: 90%;
} */

/* .info {
  position: center;
} */

/* .offers {
  color: #fd7e14;
} */

/* .card-text {
  color: grey;
} */

/* .vehicles {
  margin: 0 auto; 
  float: left; 
  margin-bottom: 10px; 
} */

/* .calculator {
  align-items: center;
  justify-content: center;
  z-index: 4;
} */

.whatsapp {
  position: fixed;
  top: 2.8rem;
  right: 5rem;
}

.sms {
  position: fixed;
  top: 2.8rem;
  right: 7.5rem;
}

.call {
  position: fixed;
  top: 2.8rem;
  right: 10.625rem;
}

.time {
  color: orange;
}
hr {
  height: 20px;
  width: 60%;
  margin: auto;
  border: 3px solid white;
}

/* .dropdown {
  max-width: 100%;
} */

/* .form-group {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
} */

/* div#fp-nav a span {
  background: #fff !important;
} */

ul {
  list-style-type: none;
}

.carousel-caption {
  width: 80px;
  z-index: 10;
  display: inline-block;
  white-space: pre;
  color: #fff;
  text-align: center;
  top: 15%;
  left: 3%;
  bottom: auto;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.sacremento {
  font-family: "Sacramento", cursive;
}

.oswald {
  font-family: "Oswald", sans-serif;
}

.qauttrocento {
  font-family: "Quattrocento", serif;
  font-size: 700;
}

.fanwood {
  font-family: "Fanwood Text", serif;
}

.almendra {
  font-family: "Almendra", serif;
  font-weight: 400;
}

.mitr {
  font-family: "Mitr", sans-serif;
  font-weight: 700;
}

.lora {
  font-family: "Lora", serif;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-style: italic;
}

.pickup {
  border-radius: 50% 20% / 10% 40%;
}

.limo-service {
  border-radius: 30px;
}

.pacifico {
  font-family: "Pacifico", cursive;
}

.dancing {
  font-family: "Dancing Script", cursive;
  /* font-weight: 700; */
}

video {
  object-fit: cover;
  width: 100vw;
  height: 50vh;
  position: relative;
  top: 0;
  left: 0;
}

.btn-outline-light {
  position: relative;
  top: 5rem;
  left: 3%;
  border-radius: 40px;
  background: transparent;
  box-shadow: 10px 5px 15px white;
  transition: all 0.3s ease 0s;
  z-index: 10;
}

.btn-outline-light:hover {
  background-color: white;
  color: #fff;
  transform: translateY(5px);
}

.btn a {
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 15px;
}
